<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="save()">Save workspace</button>

<!--<button id="btnInc" #btn (click)="incrementCounter()">Increment</button>
<input type="text" id="txt" />

<br />-->



<div class="panel panel-success">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Customer Information</h4>
    </div>
  </div>
  <div class="panel-body">
    This body will be filled with Customer Information
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Meter Information</h4>
    </div>
  </div>
  <div class="panel-body">
    This body will be filled with Meter Information
  </div>
  <div class="panel-footer">Footer</div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>My History</h4>
    </div>
  </div>
  <div class="panel-body">
    This body will be filled with Historical search Information
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Chart</h4>
    </div>
  </div>
  <div class="panel-body">
    This body will be filled with Charts
  </div>
</div>

